:root{
    --primary-color:#0e48fe;
    --primary-hover:#29e6a7;
    --primary-dark:#039d69;
    --gray100:#f9fbff;
    --gray150:#f4f6fb;
    --gray200:#eef1f6;
    --gray300:#e1e5ee;
    --gray400:#767b91;
    --gray500:#4f546c;
    --gray600:#2a324b;
    --gray700:#161d34;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    color: #4f546c;
}
*,
*::before
,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-item{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 220px;
    height: 350px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;

}
.card__img{
    height: 260px;
    border-color: #4f546c;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    object-fit: contain;
}
.card__body{
    padding: 5px;
    text-align: center;
}
.card__title{
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__title span:hover{
    color: rgba(213, 5, 5, 0.836);
    cursor: pointer;
    text-decoration: underline;
}
.card__description{
    line-height: 1.2rem;
}
.card__price{
    line-height: 1.4rem;
    color: #f30c28;
}
.card__price::after{
    content: 'đ';
    font-size: 1rem;
}
.card__discount::after{
    content: 'đ';
    font-size: 1rem;
}
.priceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}
.card__discount{
    text-decoration: line-through;
    color: #bebebe;
}
.card-item:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}
.circle-notify{
    border-radius: 100%;
    text-align: center;
    background-color: #d51c24;
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    padding-top: 12px;
    right: 1px;
    top:1px;
}
.discount-notify{
    background-color: #f1f1f1;
    width: 100px;
    color: #333;
    position: absolute;
    left: 8px;
    top:8px;
    text-align: center;
    font-size: small;
}

.deman-label{
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    position: sticky;
    text-align: right;
}